/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

@font-face {
	font-family: 'Times New Roman', serif;
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	margin: 0;
	display: block;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 0 45px 20px;
    display: block;
}

/* Write all remaining styles here */

h1 {
 font-family: 'Baskerville', serif;
 font-size: 5em;
 color: #98ADA6;
 font-weight: normal;
 padding-bottom: 10px;
 margin: 0 0 5px;
 border-bottom: 1px solid #ccc;
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
  display: block;
  font-weight: bold;
  font-family: 'Times New Roman', serif;    
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

img {
  border: 5px rgb(152,173,166) solid;
}

#press img {
  border: 5px #ccc solid;
  padding: 1px;
}

.small {
  font-size: 0.8em;
}

footer {
  text-align: right;
  background: #fff;
  display: block;
}