/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/*////////// Global Styles //////////*/
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
div {
  display: block;
}

h1 {
  padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 1px solid #ccc;
}

header a {
  color: rgb(152,173,166);
  text-decoration: none;
}

#featured img {
  border: 5px solid rgb(152,173,166)
}

h2 {
  font-size: 2em;
  color: rgb(111,127,122)
}

#featured p {
  color: rgb(85,85,85);
  font-size: 1em;
  margin: 0 0 20px 0;
}

#press {
  margin-bottom: 20px;
}

a {
  background: transparent;
  text-decoration: none;
}

#press img {
  border: 5px solid rgb(204,204,204);
  padding: 1px;
}

footer {
  text-align: right;
  color: rgb(85,85,85);
  font-size: .8em;
}
