/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: rgb(106, 128, 122);
	font-size: 2em;
}

p {
	color: rgb(5, 5, 5);
	font-size: 1em;
	margin: 0 0 20px 0;
}

/*////////// Section Styles //////////*/

header {
	color: rgb(144, 174, 165);
}

#featured img {
	border: 5px rgb(144, 174, 165) solid;
}

#about {
	margin: 0 0 20px 0;
}

#about a {
	color: rgb(7, 139, 215);
	text-decoration: none;
}

#about a:hover{
	text-decoration: underline;
}

#press {
	margin-bottom: 20px
}

#press img {
	border: 5px rgb(203, 203, 203) solid;
}

#press img:hover {
	border: 5px gray solid;
}

footer {
	text-align: right;
	font-size: 10px;
}
