/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
  height: 100%;
	color: 	#a8a8a8;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	font-size: 3em;
	font-weight: lighter;
	border-bottom: 0.75px solid #bbb;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

img {
	border: 4px solid	#a8a8a8;
}

a img{
	transition: all 0.2s ease-in-out;
}

a img:hover {
	border-color:	#888888;
}

footer {
	text-align: end;
}
