/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}


h1 {
	padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: normal;
  font-family: 'Baskerville', serif;
  border-bottom: 1px solid #ccc;
}

h2 {
	font-size: 2em;
	color: #6f7f7a;
}

header a {
	color: #98ada6;
	text-decoration: none;
}

#featured img {
	border: 5px #98ada6 solid;
}

#press img {
  border: 5px #ccc solid;
  padding: 1px;
	transition: border 0.2s ease;
}

#press img:hover {
    border: 5px #6f7f7a solid;
}

#press {
  margin-bottom: 20px;
}

p {
  color: #555;
  font-size: 1em;
  margin: 0 0 20px 0;
}

.small {
  font-size: 0.8em;
}

footer {
    text-align: right;
}
