/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

H1 {
  padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

H2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

 p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

small {
	font-size: 0.8em;
}

/*///// Section /////*/

header a {
  transition: color 2s ease-out;
	color: rgb(152,173,166);
	text-decoration: none;
}

 header a:hover {
	color: rgb(111,127,122);
 }
 
 
 #featured img {
	border: 5px rgb(152,173,166) solid;
}

 #featured a {
  transition: color 0.5s ease-out;
	color: #1783bb;
	text-decoration: none;
}

 #featured a:hover {
	text-decoration: underline;
	color: rgb(111,127,122);
}

 #press {
	margin-bottom: 20px;
}

 #press img {
  transition: border 1s ease-out;
	border: 5px #ccc solid;
	padding: 1px;
}

 #press img:hover {
	border: 5px rgb(111,127,122) solid;
}

 footer {
	text-align: right;
	background: #fff;
}