/*////////////// Fonts //////////////*/
@font-face {
    font-family: Baskerville;
    src: url(../fonts/Baskerville.ttc);
}
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* specific sections */
header h1 {
	font-family: Baskerville, serif;
	color: #98ada6;
	font-size: 80px;
}

#featured-product img {
	max-width: 100%;
	border: 5px #98ada6 solid;
}

#press img {
	width: 24%;
	max-width: 24%;
	margin-left:0.5%;
	border: 5px #98ada6 solid;
}

#press img .first {
	margin-left: 0;
}
