/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
  font-family: baskerville;
  src: url(fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header a {
  color: rgb(152,173,166);
  text-decoration: none;
  font-family: baskerville;
  font-size: 5em;
  font-weight: lighter;
}

header a:hover {
  color: rgb(111,127,122);
}

header {
  margin: 0;
  border-bottom: 1px solid rgb(160, 170, 165);
}

#necklace {
  border: 5px solid rgb(160, 170, 165);
  margin-top: 10px;
}

h2 {
  color: rgb(116,123,119);
}

#press img {
  border: 5px solid rgb(160, 170, 165);
}

#press img:hover {
  border: 5px rgb(111,127,122) solid;
}

footer {
  text-align: right;
  color: rgb(160,170,165);
  font-size: 0.8em;
}