/*////////////// Fonts //////////////*/

@import url('fonts/Baskerville.ttc');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

img[alt="featured image"]{
	border: 5px rgb(152,173,166) solid;

}

img {
	border: 5px rgb(202,202,202) solid;
	padding: 1px;
}
img.press:hover {
	border: 5px rgb(111,127,122) solid; /*border-color:rgb(111,127,122):*/
}

h1 {
	color:rgb(152,173,166);
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}



h1:hover {
	color: rgb(111,127,122);
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

a {
	color: #1783bb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	float:right;
}


.clearfix:after {
    content:".";
		display: block;
		clear: both;
		visibility: hidden;
}
