/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
header a {
	color: #98ada6;
	text-decoration: none;
}

header a:hover {
	color: #6F7F7A;
}
h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	border-bottom: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
}

h2 {
	color: #6F7F7A;
	font-size: 2em;
}

article img {
	border: 5px;
	border-color: rgb(152, 173, 166);
	border-style: solid;
}
article a {
	color: #1783bb;
	text-decoration: none;
}

article a:hover {
	text-decoration: underline;
}
#press img {
	border: 5px;
	border-color: #ccc;
	border-style: solid;
	padding: 1px;
}
#press img:hover {
	border: 5px;
	border-color: #6f7f7a;
	border-style: solid;
	padding: 1px;
}
footer {
text-align: right;
}
