/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
  font-family: 'Baskerville';
  src: url(fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
  padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: bold;
  font-family: Baskerville, serif;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}

p {
  color: #555;
  font-size: 1em;
  margin: 0 0 20px 0;
}

.small {
  font-size: 0.8em;
}

/*////////// Section Styles //////////*/

header a {
  color: rgb(152,173,166);
  text-decoration: none;
}

header a:hover {
  color: rgb(111,127,122);
}

#featured img {
  border: 5px rgb(152,173,166) solid;
}

#featured a {
  color: #1783bb;
  text-decoration: none;
}

#featured a:hover {
  text-decoration: underline;
}

#press {
  margin-bottom: 20px;
}

#press img {
  -webkit-transition: border 1s ease;
  -moz-transition: border 1s ease;
  -o-transition: border 1s ease;
  transition: border 1s ease;
  border: 5px solid #ccc;
  padding: 1px;
}

#press img:hover {
  border: 5px solid rgb(111,127,122);
}

footer {
  text-align: right;
}






















