/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

* {
  box-sizing: border-box;
}

h2, p {
  color: rgba(97, 114, 113, 1);
}

h1 {
  color: rgba(141, 161, 156, 1);
  font-family: "Times New Roman";
  font-weight: 300;
  font-size: 3rem;
  border-bottom: solid rgba(141, 161, 156, 0.3) 2px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  width: 100%;
}

#necklace {
  margin: 0;
  border: solid rgba(141, 161, 156, 1) 3px;
  max-width: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}

.bottom-wrap {
  width: 100%;
  margin: 0 auto;
}

.box {
  float: left;
  display: inline-block;
  width: 24.25%;
  margin-right: 1%;
}

.box:last-of-type {
  margin-right: 0;
}

.box img {
  border: solid rgba(141, 161, 156, 0.6) 3px;
  transition: border 1.0s ease;
  /*transition: box-shadow 1.5s ease;*/
  max-width: 100%;
}

.box img:hover {
  border: solid rgba(81, 99, 94, 1) 3px;
  box-shadow: 1px 3px 5px rgba(81, 99, 94, 1);
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

#copyright {
  margin: 0 auto;
  text-align: right;
  margin-top: 15px;
  font-size: 12px;
}
