/*////////////// Fonts //////////////*/

@font-face {
  font-family: Baskerville;
  src: url('Baskerville.ttc') format('truetype');
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
a {
  text-decoration: none;
}

h1 {
  font-family: Baskerville;
  font-size: 5em;
}

h2 {
  font-size: 2em;
  color: #6f7f7A;
}

header a {
  color: #98ada6;
}

header a:hover {
  color: #6f7f7A;
}

header img {
  border: thick solid #98ada6;
}

#about a {
  color: #2184b9;
}

#about a:hover {
  text-decoration: underline;
}

#press img {
  border: thick solid #cccccc;
}

#press img:hover {
  border-color: #6f7f7A;
}
