/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	padding-bottom: 10px;
	font-family: 'Baskerville', serif;
	font-size: 5em;
	color: rgb(153,173,166);
	margin: 0 0 5px;
	font-weight: normal;
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	font-family: 'Times-New-Roman', serif;
	color: rgb(85,85,85);
}

#press img {
	border: 5px rgb(204,204,204) solid;
	margin: 1px;
}
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	color: rgb(85,85,85);
	font-size: .75em;
}
header a:hover {
	color: rgb(111,127,122);
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#featured a {
	color: #1783bb;
	text-decoration: none;
}

#featured a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}
