/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	border-bottom: 1px solid rgb(152,173,166);
	font-family: 'Baskerville', serif;
	font-size: 5em;
	font-weight: normal;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	color: #555;
	font-size: 1em;
}

footer {
	font-size: 75%;
	text-align: right;
}

header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
	color: rgb(111,127,122);
}

#featured-piece img {
	border: 5px rgb(152,173,166) solid;
}

#featured-piece a {
	color: #1783bb;
	text-decoration: none;
}

#featured-piece a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #CCC solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}
