/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: rgb(152,173,166);
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

p {
	color: #555;
	margin: 0 0 20px 0;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}
.small {
	font-size: 0.8em;
	text-align: right
}

/*////// Section styles ///*/

header a {
	text-decoration:none;
	color: rgb(152,173,166);mn
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}

header a:hover {
	color: rgb(111,127,122);
}

/* Write all remaining styles here */
