/*////////////// Fonts //////////////*/

@font-face {
font-family: Baskerville;
src: url('fonts/Baskerville.ttc');

}



body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Baskerville', serif;
  margin: 0;
  padding: 0; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

/* link the web font used for the level 1 heading here */

 /* ////////// Global Styles */




 img {

  border: 5px solid #cccccc;
  
 }

#rights {
  text-align: right;
}

h1 {
font-size: 80px;
color: #98A6AD;
}

h2 {
  font-size: 40px;
  color: #98A6AD;
}

#title {

  text-align: bottom;
}