/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

* {
  padding: 0;
  margin: 0;
}


body {
  background-color: lightgrey;
	border: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	text-align: center;
	border: 1px black;
}


/* Write all remaining styles here */




