/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url(css/fonts/Baskerville.ttc);


/*////////// Global Styles //////////*/
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}


.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	font-size: 5em;
	font-weight: bold;
	color: rgb(152,173,166);
	font-family:'Baskerville', "Times New Roman",serif;
}

.necklace {
	border: 6px solid;
	border-color: rgb(152,173,166);

}

h2 {
	font-size: 2em;
	color: rgb(111,127,122);
	font-family:"Times New Roman", serif;
}

p {
	font-family: "Times New Roman";
	color: #555;
}

#press a img {
	border: solid;
	border-color: rgb(204, 204,204);
	border-width: thick;
}

.copy {
	display: inline;
	float: right;
	font-size: 0.8em;
	color: #555;
}
