/*////////////// Fonts //////////////*/


/* link the web font used for the level 1 heading here */

@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

body {
    background: #F3EBE9;
    font-size: 100%;
    font-family: 'Times New Roman', serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 0 45px 20px;
}

h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: normal;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: rgb(111, 127, 122);
    font-size: 2em;
}

p {
    color: #555;
    font-size: 1em;
    margin: 0px 0px 20px 0px;
}


/* Write all remaining styles here */

header a {
    color: rgb(152, 173, 166);
    text-decoration: none;
}

header a:hover {
    color: rgb(93, 111, 104);
}


a {
    text-decoration:none;
    color: #1783bb;
}

#main a:hover {
    color: #1783bb;
    text-decoration:underline;
}


#main img {
    border: 5px rgb(152, 173, 166) solid;
}

#press {
    margin-bottom: 20px;
}

#press img {
    transition: all 0.5s ease;
    border: 5px #ccc solid;
}

#press img:hover {
    border: 5px rgb(98, 107, 104) solid;
    border-radius: 10px;
}

footer {
    text-align: right;
    font-size: 0.8em;
    background: #fff;
}

footer p {
    color: #555;
    font-size: 0.8em;
    margin: 0 0 20px 0;
}

