/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#title {
  height: 100px;
  color: #98ADA6;
  font-size: 5em;
  font-family: 'Bakersville', serif;
  margin: 0 0 10px;
  border-bottom: 1px solid #ccc;
}

#necklace {
  border: 5px solid #98ADA6;
  margin: -5px 0 0 0;
}

p {
  color: #555;
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:link {
  color: #1783bb;
}

img.press-image{
  border: 5px solid #ccc;
}

#copyright {
  font-size: 13px;
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}