/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

div {
	display:block;
}
/* Write all remaining styles here */
* {
	width: 960px;
	margin: 0 auto;
}

h1 {
	color: rgb(152,172,167);
	font-size: 3em;
	font-family: "Libre Baskerville", serif;
	padding-bottom:5px;
	border-bottom: 1px solid #eee;
}

h2 {
	color: rgb(116,131,127);
	font-size: 2em;
	padding-bottom: 25px;
}

.featured {
	width: 100%;
	border: 5px rgb(154,172,167) solid;
	margin-bottom:15px;
}

p {
	font-size: 1em;
	color: rgb(74,97,96);
	margin:0 0 20px 0;
}

#press img {
  float: left;
  width: 22%;
	margin-left:1%;
	border: 5px #ccc solid;
	padding: 1px;
}

[img*="last"] {
	margin-left:0%
}

#press img:hover {
	border: 5px rgb(96,107,102) solid;
}

.footer {
	text-align: right;
	font-size:.75em;
}

.clearfix:after {
   content: " . ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
