/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	font-family: 'Baskerville', serif;
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	border-bottom: 1px solid #ccc;
	color: rgb(141, 163, 156);
}

#necklace {
	border: 5px solid rgb(141, 163, 156);
}

h2 {
	color: rgb(100, 116, 111);
	font-size: 2em;
}

#zetsy-header {
	color: rgb(141, 163, 156);
	text-decoration: none;
	transition: color 0.5s ease;
}

#zetsy-header:hover {
	color: rgb(100, 116, 111);
}

#press img {
	border: 5px solid #ccc;
	padding: 1px;
	transition: border 0.5s ease;
}

#press img:hover {
	border: 5px solid rgb(100, 116, 111);
}

footer p {
	text-align: right;
	font-size: 0.8em;
}
