/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h2 {
	color: rgb(111,127,122);
	font-size: 30px;
}

.zetsy {
	color: rgb(152,173,166);
	font-family: Baskerville, serif;
	font-size: 75px;
	margin-bottom: 10px;
}

img {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(204,204,204);
	max-width: 100%
}

#copy {
	float: right;
	color: rgb(85,85,85);
	font-size: 15px;
}


.wrapper {
  margin: 0 auto;
}


.hover:hover {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(111,127,122);
}

.highlight:hover {
	color: rgb(111,127,122);
	font-family: Baskerville, serif;
	font-size: 75px;
}

.head {
	border-bottom: 1px solid rgb(205,205,205);
	margin: 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
