/*////////////// Fonts //////////////*/
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/* link the web font used for the level 1 heading here */
h1 {
	color: rgb(152,173,166);
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;

}

h2 {
	font-family: 'Baskerville', serif;
	font-weight: bold;
	font-size: 2em;
	color: rgb(111,127,122);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	height: auto;
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

div {
	display: block;
}

/* Write all remaining styles here */

#featured img {
	border: 5px rgb(152,173,166) solid;
}

footer {
	text-align: right;
	font-size: 0.8em;
	margin: 20px;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}

#featured a:hover  {
	color: rgb(111,127,122);
}

#featured a:visited  {
	color: rgb(152,173,166);
}

#featured a:link {
	text-decoration: none;
}
