/*////////////// Fonts //////////////*/
/* link the web font used for the level 1 heading here */
@font-face {
	font-family: Baskerville;
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1{
	font-size: 5em;
	font-family: Baskerville, Helvetica, serif;
	color: rgb(152,173,166);
	padding-bottom: 10px;
}

h2{
	color: rgb(111,127,122);
	font-size: 2em;
}

#footer{
	float: right;
	font-size: 0.75em;
	font-style: em;
}

.necklace{
	border: 5px solid rgb(152,173,166);
}

#press img{
	border: 5px solid #ccc;
}

#press img:hover{
	border: 5px solid rgb(111,127,122) ;
}
