/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

.small {
	font-size: 0.8em;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: "Baskerville", serif;
	border-bottom: 1px solid #ccc;
}

footer {
	text-align: right;
	background: #fff;
}

#press {
	margin-bottom: 20px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a {
	background: transparent; 
}
