/*////////////// Fonts //////////////*/


/* link the web font used for the level 1 heading here */
@font-face {
  font-family: Baskerville;
  src: url(fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}


/* Write all remaining styles here */

h1 {
  font-family: 'Baskerville', serif;
  font-size: 5em;
  font-weight: normal;
  color: #98ADA6;
  padding-bottom: 10px;
  margin: 0 0 5px;
  border-bottom: 1px #ccc solid;
}

h2 {
  font-size: 2em;
  color: #727D76;
}

.small {
  font-size: .8em;
  margin: 0 0 20px 0;
}

#main-image {
  border: 5px #98ADA6 solid;
}

#press {
  margin-bottom: 20px;
}

#press img {
  border: 5px #ccc solid;
}

footer {
  float: right;
}
