/*////////////// Fonts //////////////*/

@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}


/* Write all remaining styles here */

h1 {
  font-family: 'Baskerville', serif;
  font-size: 5em;
  margin: 0 0 5px;
  border-bottom: 1px solid #ccc;
  color: rgb(152,173,166);
}

h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}

#necklace {
  border: 5px rgb(152,173,166) solid;
}

p {
  font-size: 1em;
  color: #555;
  margin: 0 0 20px 0;
}
