/*////////////// Fonts //////////////*/
@font-face {
		font-family: 'Baskerville', serif;
		src: url(/fonts/Baskerville.ttc);
}
/* link the web font used for the level 1 heading here */
/*@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display")*/
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
header a {
	color: rgb(152,173,166);
	text-decoration: none;
}

header a:hover {
	color: rgb(111, 127, 122);
}

a {
	background: transparent;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

#logo {
	border: 5px rgb(152,173,166) solid;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

#about a {
	color: #1783bb;
	text-decoration: none;
}

#about a:hover {
	text-decoration: underline;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}

#footer {
	text-align: right;
	font-size: 0.8em;
}
